@import "bower_components/susy/sass/susy";

$columns: 12;
$susy:(
  columns: $columns,
  gutters: 1/5,
  container: 960px,
);

.container {
  @include container();
  position: relative;

}

.col-right-mob {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  text-align: center;

}


//- col desk
.col-2,
.col-6, 
.col-3 { @include span (12 of 12); }

.col-4 { @include span (6 of 12); }

//- col mob

.col-mob-12 { @include span (12 of 12); }

@media only screen and (min-width: 768px) {

//- col desk
.col-2 { @include span (2 of 12); } 

.col-3 { @include span (3 of 12); } 

.col-4 { @include span (4 of 12); } 

.col-6 { @include span (6 of 12); } 

.col-right-mob {
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
  text-align: left;
}

}

//- Ajust all coluns with position and margin
[class*="col-"] {
  position: relative;
  margin-right: 0;
}