//
// Button
// --------------------------------------------------

.btn-submit {
  background: #d73a1e;
  border: 0px;
  padding: 9px 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  
}
