textarea:focus, 
input:focus,
button:focus {
    outline: none;
}

.input-group {
  display: flex;
  width: 100%;
}

.input-group-btn {
  padding: 10px 10px;
  padding-right: 0;
  padding-bottom: 7px;
  border: 1px solid #000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 0;

}

.input-form {
  padding-left: 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #000;
  border-left: 0;
  width: 100%;

}

.btn-search {
  background-image: url(/assets/images/icons/loop-icon.jpg);
  background-color: #fff;
  border: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 23px;
  transition: all .2s ease-in-out;

  cursor: pointer;

  &:hover {
    background-image: url(/assets/images/icons/loop-icon-hover.jpg);

  }

}

.input-news {
  border: 1px solid #000;
  border-radius: 4px;
  
  padding: 9px 10px;
  margin: 20px 0;
  margin-right: 10px;

  font-size: 14px;
  width: 55%;

}

