.u-list-inline {
  margin: 0;
  padding: 0;

  & > li {
    display: inline-block;
    transition: transform .5s ease;
    margin-right: 5px;

    &:last-child { margin-right: 0; }

  }

}

@media only screen and (min-width: 768px) {
  .pull-right { float: right; }

}
