footer(class="footer")
  div(class="container")

    div(class="col-6 col-right-mob")
      
      div(class="col-3")
        h2(class="text-footer") Company Returns
      div(class="col-3")
        h2(class="text-footer") Contact us Careers
      div(class="col-3")
        h2(class="text-footer") Shipping

      div(class="social-media")
        a(href="")
          img(src="assets/images/icons/facebook-icon.jpg")

        a(href="")
          img(src="assets/images/icons/twitter-icon.jpg")

        a(href="")
          img(src="assets/images/icons/pinterest-icon.jpg")

        a(href="")
          img(src="assets/images/icons/tumblr-icon.jpg")

        a(href="")
          img(src="assets/images/icons/google-plus-icon.jpg")

      div(class="copyright")
        span @ 2015 Merlin's Potions. All Rights Reserved


    div(class="col-6")
      div(class="newsletter")
        h2 Sign up for our Newsletter
        span Sign up for our newsletter & get exclusive discounts!
        input(class="input-news" type="text" placeholder="Enter your email")
        button(class="btn-submit" type="button") Submit