a( href="javascript:void(0);" class="nav-mob" onclick="FunctionNav(this)")
  div(class="bar-1")
  div(class="bar-2")
  div(class="bar-3")
div(class="nav" id="nav-mob")
  div(class="container")
    ul(class="navigation")
      li(class="nav__item")
        a(class="nav__item-link" href="") Potions
      li(class="nav__item")
        a(class="nav__item-link" href="") Ingredients
      li(class="nav__item")
        a(class="nav__item-link" href="") Books
      li(class="nav__item")
        a(class="nav__item-link" href="") Supplies
      li(class="nav__item")
        a(class="nav__item-link" href="") Cahrms
      li(class="nav__item nav__item-active")
        a(class="nav__item-link" href="") Clearance!
      div(class="cart-login")
        a(href="") Sign In
        span or
        a(href="") Sign Up