header(class="header" role="banner")

  div(class="container top-menu")
    div(class="col-4 col-mob-12")
      img(class="image--logo" src="assets/images/logo-merlins-potions.jpg" alt="Merlin's Potions - Fine potions since 1026")

    div(class="col-4 search")
      div(class="input-group")
        div(class="input-group-btn")
          button(type="button" class="btn-search")
        input(class="input-form" type="text" placeholder="Search our stock")
    div(class="col-4 col-mob-12")
      div(class="shipping-group")
        span(class="text-shipping") Free shipping
        span(class="text-shipping  text-shipping--small") on orders over $50 
      div(class="cart-group")
        img(src="assets/images/icons/cart-icon.jpg" alt="Cart icon")
        span(class="text-cart") Bag:
        span(class="text-cart-number") 1


  //- include menu nav  
  include nav
