.section {
  position: relative;
  width: 100%;

  padding: em(16px);
  box-sizing: border-box;

  mod('potion') {
    padding-top: 80px;

  }

}

.section-title { 
  text-align: center;
  margin: 60px 0px; 

}


.box-potion {
  max-width: 290px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;

}

.box-potion__name {
  display: inline-block;
  font-size: 17px;

}

.box-potion__price {
  display: inline-block;
  color: $color-red-default;
  font-size: 15px;  

}

@media only screen and (min-width: 768px) {
  .section-title { 
    text-align: left;
  }
}