//
// Variables
// --------------------------------------------------


//== Colors
//
//##

$color-red-default:    #f63819 !default;
$color-white:          #F1F1F1 !default;
$color-yellow:         #FBD710 !default;

$color-light-blue:     #0061B2 !default;
$color-light-orange:   #FF9C00 !default;
$color-light-gray:     #666    !default;

$color-dark-orange:    #F97000 !default;
$color-dark-blue:      #002F58 !default;
$color-dark-gray:      #333    !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Droid Sans", sans-serif !default;
$font-family-title-sans-serif:  "Oswald", sans-serif !default;
$font-family-base:        $font-family-sans-serif !default;
$font-size-base:          16px !default;

//== Breakpoints
//
//##
$bp-mobile:         320px;
$bp-tablet:         768px;
$bp-desktop:        1280px;
$bp-fullhd:         1920px;

