.cart-group {
  float: left;
  position: absolute;
  top: -67px;
  right: 16px;

  img {
    // float: left;
    margin-right: 5px;
    display: block;
  }

  span {
    display: inline-block;
    padding-top: 4px;
    text-transform: uppercase;
    font-size: 14px;

  }

}

.text-cart {
  color: #b3b3b3;
}

.text-cart-number { 
  margin-left: 2px;
  color: $color-red-default;

}

.cart-login {
  float: none;
  margin-top: 48px;
  padding-bottom: 20px;
  display: block;
  /* margin: 0 auto; */
  text-align: center;

  span,
  a {
    display: inline-block;
    margin: 0 5px;
    font-style: italic;
  }

  a {
    color: #fff;
  }

  span {
    color: #c19da7;
  }

}

@media only screen and (min-width: 768px) {
  .cart-group {
    position: relative;
    top: 0;
    right: 0;

    img {
      float: left;
      display: inline-block;
    }

    span {
      padding-top: 18px;
      font-size: 16px;
    }
  }

  .cart-login {
    float: right;
    margin-top: 0px;
    padding-bottom: 0px;

} 

}