.footer {
  background: #e6e6e6;

  padding: 50px 15px;

  .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

  }

}


.text-footer {
  display: none;
  font-size: 20px;
  text-transform: uppercase;
  color: $color-red-default;

}
.social-media {
  position: relative;
  display: block;
  float: left;
  margin: 40px 0;
  width: 100%;

  img {
    margin: 0px 5px;
  }
}

.copyright {
  display: block;
  float: left;
  width: 100%; 
  span { color: #666666; }
  
}

.newsletter {
  background: #fff;
  padding: 40px 20px;
  border-radius: 10px;

  h2 {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 15px;
  } 

  span {
    display: block;
  }

}

@media only screen and (min-width: 768px) {

  .footer {
    .container {
      display: block;
    }
  }

  .text-footer { display: block; }

}