//- Initial config header and footer
.header,
.footer {
  width: 100%;

  // padding: 0 1em;
  box-sizing: border-box;

  z-index: 10;

}

.header { 
  text-align: center; 

  .container {
    padding-top: 25px;
  }
}

.top-menu { z-index: -1; }

.nav {
  display: none;
  width: 100%;
  background: #523468;

  margin-top: -30px;
  z-index: 2;

  .container {
    padding-top: 0px;
  }

}

.navigation {
  display: block;
  text-align: left;

  .nav__item {
    display: block;
    margin: 0px;
    color: #fff;
    
    padding: 20px;
    padding-left: 70px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.72);

    a {
      position: relative;
      color: #fff;
      font-style: italic;
      

      &:after {
        content: '';
        background-image: url(/assets/images/icons/icon-arrow.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 6px;
        right: -19px;
        width: 14px;
        height: 8px;
        display: block;

      }

    }

    &:nth-last-child(2) {   
      a {
        &:after {
          display: none;
        }
      }
    }

  }

}

.nav__item-active {
  background: #422a53;
  padding: 15px;
  border-radius: 5px;
  margin-left: 10px;

}

.open-nav { display: block; }

.nav-mob {
  position: absolute;
  top: 28px;
  left: 30px;
  display: inline-block;
  cursor: pointer;

}

.bar-1, .bar-2, .bar-3 {
    width: 35px;
    height: 5px;
    background-color: #523468;
    margin: 6px 0;
    transition: 0.4s;
}

.change {
  .bar-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  } 
}

.change {
  .bar-2 {opacity: 0;}
}

.change {
  .bar-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
} 


@media only screen and (min-width: 768px) {
  .header { 
    .container {
      padding: 20px 15px;
    }
  }

  .top-menu { z-index: 0; }
  .nav { 
    display: block;
    margin-top: 0;
    z-index: 0;
  }

  .navigation {
    .nav__item {
      display: inline-block;
      margin: 0 20px;
      border-bottom: 0px;
      padding: 0;
      padding-left: 0;

    }

  }

  .nav-mob {
    display: none;
  }
}
