.search {
  display: none;
  position: absolute;
  left: 17%;

  width: 80%;
  height: 100%;
  
  background: #fff;
  z-index: 10;
  top: 0;
  padding-top: 30px;
}

.search--show { display: block } 

@media only screen and (min-width: 768px) {
  .search {
    @include span(4 of 12);

    display: block;
    position: relative;
    left: 0;
    height: auto;
    background: transparent;
    z-index: 0;
    padding-top: 0;
  }
}