.shipping-group {
  float: left;
  text-align: center;
  
  background: #ececec;
  padding: 10px 0;

  margin-top: 20px;

  padding-top: 8px;
  font-style: italic;
  width: 100%;

}

.text-shipping {
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
  color: #7d7d7d; 
  
}

@media only screen and (min-width: 768px) {
  .shipping-group { 
    margin: 0px 20px;
    width: auto;
    background: #fff;

    padding: 0;
    margin-top: 7px;

  }
  
  .text-shipping {
    display: block;
    color: $color-red-default;
    margin-bottom: 3px;

  }
  
  .text-shipping--small {
    font-size: 12px;

  }

}