section(class="section section--potions")

  div(class="container")
    h2(class="section-title") Potions

    div(class="col-4")
      div(class="box-potion")
        img(class="box-potion__image" src="assets/images/products/aging-potion.png")
        h2(class="box-potion__name") Aging Potion -
        h2(class="box-potion__price") $29.99

    div(class="col-4")
      div(class="box-potion")
        img(class="box-potion__image" src="assets/images/products/bulgeye-potion.png")
        h2(class="box-potion__name") Bulgeye Potion -
        h2(class="box-potion__price") $19.99

    div(class="col-4")
      div(class="box-potion")
        img(class="box-potion__image" src="assets/images/products/dragon-tonic.png")
        h2(class="box-potion__name") Dragon Tonic -
        h2(class="box-potion__price") $64.99

    div(class="col-4")
      div(class="box-potion")
        img(class="box-potion__image" src="assets/images/products/love-potion.png")
        h2(class="box-potion__name") Love Potion -
        h2(class="box-potion__price") $29.99

    div(class="col-4")
      div(class="box-potion")
        img(class="box-potion__image" src="assets/images/products/polyjuice-potion.png")
        h2(class="box-potion__name") Polyjuice Potion -
        h2(class="box-potion__price") $99.99

    div(class="col-4")
      div(class="box-potion")
        img(class="box-potion__image" src="assets/images/products/sleeping-draught.png")
        h2(class="box-potion__name") Sleeping Draught -
        h2(class="box-potion__price") $14.99
