doctype html
html(lang='pt-br')

  head

    title Teste Enext

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no')

    meta(name='description' content='')

    link(href="https://fonts.googleapis.com/css?family=Droid+Sans|Oswald" rel="stylesheet")
    link(rel='stylesheet', href='../assets/stylesheet/application.css')

  body


    //- Header
    include _includes/navigation

    //- Views
    include _views/section-potions

    //- Footer
    include _includes/footer

    script(src="assets/javascript/script.js")
